.header-colour {
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #12c2e9, #c471ed);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #12c2e9, #c471ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #12c2e9, #c471ed);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #12c2e9, #c471ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    overflow: scroll;
    width: 100%;
}

html, body{
    height: 100%;
    min-height: 100%;
}

.browse-grid {
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #12c2e9, #c471ed);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #12c2e9, #c471ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    text-align: center;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.about-grid{
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #12c2e9, #c471ed);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #12c2e9, #c471ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    text-align: center;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.account-grid{
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #12c2e9, #c471ed);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #12c2e9, #c471ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    text-align: center;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.logo-img {
    height: auto;
    padding-top: 3em;
    position: center;
    padding-bottom: 2em;
}

.banner-card{
    padding-top: 3em;
}
.banner-text{
    background-color: black;
    opacity: .4;
    width: 60%;
    margin: auto;
    border-radius: 10px;
}

.login-form-container{
    margin-left: 25%;
    align-content: space-between;
}

.banner-text-login{
    background-color: rgba(0,0,0,0.2);
    width: 60%;
    border-radius: 10px;
    margin: 0 auto;
    flex: auto;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner-text-login h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: center;
    margin: 10px auto auto;
}

.banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
    margin: auto;
    position: center;
}

.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
}


.banner-card h1{
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: auto;
    position: relative;
    padding-bottom: 1em;

}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.social-links i {
    color: white;
    font-size: 5em;
    padding: 8px;
}
.event-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.event-cards li{
    list-style-type: none;
    margin-top: 1em;
}

.card-box {
    display: flex;
    margin: auto;
}

.text-field-dash-search {

}

.search-box{
    padding: 5px;
}

.account-container{

    width: 60%;
    background: azure;
    padding: 1em;
    margin: 1em auto auto;
    -webkit-box-shadow: 1px 1px 8px 1px rgba(3,3,3,3);
    box-shadow: 1px 1px 8px 1px rgba(3,3,3,3);
    -webkit-border-radius: 12px;
    border-radius: 12px;

}

.account-container p{
    font-size: 20px;
    font-weight: bold;
    color: #212121;
    float: inherit;

}

.account-container p span{
    display: block;
    text-align: left;
}

.admin-container{
    width: 60%;
    margin: 1em auto auto;
}

.admin-page{
    width: 50%;
    margin: auto;
    overflow: scroll;
    padding-bottom: 5%;
}

.add-task{
    width: 29%;
    float: left;
    margin: 1em 0 2em 20%;
    text-align: left;
    background: azure;
    padding: 1em;
    height: 26em;
    -webkit-box-shadow: 1px 1px 8px 1px rgba(3,3,3,3);
    box-shadow: 1px 1px 8px 1px rgba(3,3,3,3);

    -webkit-border-radius: 12px;
    border-radius: 12px;
}

.all-tasks-table{
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

.assign-training{
    width: 29%;
    height: 26em;
    margin: 1em 20% 2em 0;
    float: right;
    text-align: left;
    background: azure;
    padding: 1em;

    -webkit-box-shadow: 1px 1px 8px 1px rgba(3,3,3,3);
    box-shadow: 1px 1px 8px 1px rgba(3,3,3,3);
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

.show-file{
    /*height: 100%;*/
    /*min-height: 100%;*/
    padding-bottom: 1em;
    display: inline;
    /*width: 100%;*/
    object-fit: contain;
}

.file-object{
    display: flex;
    box-sizing: content-box;
    width: 100%;
}

.page-content{
    align-content: center;
    /*overflow-y: auto;*/
    min-height: 100%;
    height: 100%;
    /*display: inline-table;*/
    display: inline-block;
    width: 50%;

    margin-left: 25%;
    margin-right: 25%;
    /*margin-bottom: 15%;*/
}

.task-complete-container{
    display: block;
    width: 100%;
    height: auto;
}

.task-form{
    margin-top: 2em;
    border: solid #0000008f;
    padding: 1em;
    margin-right: 50%;
}

.progress-box{
    width: 250px;
    height: auto;
    display: inline-block;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;


    border-radius: 25px;
    /*background: white;*/
    background: #fff4fbe0;
    box-shadow: 0  0 6px 1px #000000ed;
    box-sizing: border-box;
    transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;

}

.progress-box-lower{
    width: 100%;
    height: 0;
    display: inline-block;
    padding: 1em;
}

.progress-box-title{
    font-size: 30px;
    display: block;
    padding-bottom: 10px;
}

.progress-box-value{
    font-size: 50px;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 90px;
    text-align: center;

}